.append-buttons {
    text-align: center;
    margin-top: 20px;
  }

.append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid $pink_light !important;
    color: $pink_light !important;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
  }

.photo {
    margin-bottom: 100px;
}